# Table of Contents

1. Data Sources
2. Questions?
3. Data Wrangling: \
    1) Data Assessment \
    2) Data cleansing/Preprocessing (incorrect data types, missing data, inaccurate data)
4 Data Analysis
5. Conclusion

# Data Sources

The dataset (Fuel Economy Data) is provided by U.S. Environmental Protection Agency, Office of Mobile Sources, National Vehicle and Fuel Emissions Laboratory

1. Unit measure for engine displacement: Liters
2. Meaning of each feature: 
        Stnd: Vehicle emissions standard code 
        Cyl: Number of Cylinders in the engine 
        Trans: Transmission Type 
        Drv: Drive Axle Type

# Questions

1. Are more models using alternative sources of fuel? By how much?
2. How much have vehicle classes improved in fuel economy?
3. What are the characteristics of SmartWay vehicles?
4. What features are associated with better fuel economy?
5. For all of the models that were produced in 2008 that were also produced in 2018, how much has the mpg improved and which vehicle improved most?

# Data Assessment

In [93]:
# import the data
import pandas as pd
df_08 = pd.read_csv('./Fuel_Economy_Data/all_alpha_08.csv')
df_18 = pd.read_csv('./Fuel_Economy_Data/all_alpha_18.csv')

In [94]:
df_08.shape, df_18.shape

((2404, 18), (1611, 18))

In [95]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [96]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

The codes below are used to better know the dataset on the duplications, null values, data structure, data types, and unique values

# Dataset 2008

In [97]:
# total number of the rows that have duplicates
df_08.duplicated().sum()

25

In [98]:
# total number of null value for each column
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [99]:
# data type of dataset 2008
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [100]:
# number of unique value for each column
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

# Dataset 2018

In [101]:
# number of the rows that have duplicates
df_18.duplicated().sum()

0

In [102]:
# number of null value for each column
df_18.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [103]:
# data type of dataset 2018
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [104]:
# number of unique value for each column
df_18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

# Data Cleansing

In [105]:
# view dataset 2008
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [106]:
# view dataset 2018
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

## 1. Drop Extraneous Columns

Drop the features that are not consistent (not present in both datasets) or are not relevant to our questions.
Apply Pandas drop function to do this

In [107]:
# drop extraneous columns from dataset 2008
df_08.drop(columns=['Stnd','Underhood ID','FE Calc Appr','Unadj Cmb MPG'],inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [108]:
# drop extraneous columns from dataset 2018
df_18.drop(columns=['Stnd','Stnd Description','Underhood ID','Comb CO2'], inplace=True)

# confirm changes
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

## 2. Rename Columns

Changed the "Cert Region" column label in the 2018 dataset to "Sales Area" for consistency. Rename all column labels to replace spaces with underscores and convert everything to lowercase. (Underscores can be much easier to work with in Python than spaces. For example, having spaces does not allow you to use df.column_name instead of df['column_name'] to select columns or use query(). Being consistent with lowercase and underscores also helps make column names easy to remember.

In [109]:
# Rename Sales Area to Cert Region for dataset 2008
df_08.rename(columns={"Sales Area":"Cert Region"},inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [110]:
# Replace spaces with underscores and lowercase labels for dataset 2008
df_08.rename(columns=lambda x: x.strip().lower().replace(" ","_"), inplace=True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [111]:
# Replace spaces with underscores and lowercase labels for dataset 2018
df_18.rename(columns=lambda x: x.strip().lower().replace(" ","_"), inplace=True)

# confirm changes
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [112]:
# Confirm the labels for dataset 2008 and dataset 2018 are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [144]:
# Save them as the new dataset
df_08.to_csv('./Fuel_Economy_Data/data_08_v1.csv', index=False)
df_18.to_csv('./Fuel_Economy_Data/data_18_v1.csv', index=False)

### 3. Filter

For consistency, we only compare the cars that were certified by California standards. Filter both of the datasets to select the rows which 'sale_area' are 'CA' by using query. After that, drop the 'sale_area' column for both of the datasets since we know 'sale_area' for all of the rows are 'CA'.

In [115]:
# filter datasets for each row by following the California standards
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [120]:
# Confirm that the cert_region of all the columns are 'CA'
df_08['cert_region'].unique(), df_18['cert_region'].unique()

(array(['CA'], dtype=object), array(['CA'], dtype=object))

In [121]:
# Drop cert_region column from both datasets since we know all of their cert_region are 'CA'
df_08.drop(['cert_region'], axis=1, inplace=True)
df_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [122]:
df_18.drop(['cert_region'], axis=1, inplace=True)
df_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

## 4. Drop Null value

Drop the rows from both datasets as long as they contain 'Null' value

In [123]:
df_08.dropna(inplace=True) # here must have inplace = True
df_18.dropna(inplace=True)

In [136]:
# Check if any column contained Null values. Print the number of column that contains Null values.
df_08.isnull().any(axis=0).sum(), df_18.isnull().any(axis=0).sum()

(0, 0)

## 5. Drop duplicates

In [137]:
df_08.drop_duplicates(inplace=True) # here must have inplace = True
df_18.drop_duplicates(inplace=True)

In [138]:
df_08.duplicated().sum(), df_18.duplicated().sum()

(0, 0)

In [145]:
# Save them as the new dataset
df_08.to_csv('./Fuel_Economy_Data/data_08_v2.csv', index=False)
df_18.to_csv('./Fuel_Economy_Data/data_18_v2.csv', index=False)

## 6. Fix data types

### 6.1 Fix cycl data type
#### cyl datatype 2008: extract int from string
#### cyl datatype 2018: convert float into int

In [160]:
df_08 = pd.read_csv('./Fuel_Economy_Data/data_08_v2.csv')
df_18 = pd.read_csv('./Fuel_Economy_Data/data_08_v2.csv')

In [161]:
# check value counts 
df_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [162]:
# Extract int from strings 
import numpy as np
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(np.int64)
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [163]:
df_08.to_csv('./Fuel_Economy_Data/data_08_v3.csv', index=False)
df_18.to_csv('./Fuel_Economy_Data/data_18_v3.csv', index=False)

### 6.2 Fix air_pollution_score data type

In [206]:
df_08 = pd.read_csv('./Fuel_Economy_Data/data_08_v3.csv')
df_18 = pd.read_csv('./Fuel_Economy_Data/data_08_v3.csv')

In [207]:
df_08['air_pollution_score'].dtypes

dtype('O')

In [208]:
df_08.iloc[582] # note some fraction formed string would be hard to convert to float directly

model                   MERCEDES-BENZ C300
displ                                    3
cyl                                      6
trans                              Auto-L7
drive                                  2WD
fuel                           ethanol/gas
veh_class                        small car
air_pollution_score                    6/4
city_mpg                             13/18
hwy_mpg                              19/25
cmb_mpg                              15/21
greenhouse_gas_score                   7/6
smartway                                no
Name: 582, dtype: object

According to the documentation: "If a vehicle can operate on more than one type pf fuel, an estimate is provided for each fuel type." \
So the vehicles with more than one fuel type, or hybrids, like the one above (ethanol/gas) will have a string that holds two values - one for each.

In [209]:
hybrid_08 = df_08[df_08['fuel'].str.contains('/')]
hybrid_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [210]:
hybrid_18 = df_18[df_18['fuel'].str.contains('/')]
hybrid_18

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

Take split each hybrid row into two new rows, one with values for the first fuel type (values before '/')and the other with values for the second fuel type (values after '/')

In [211]:
# create two copies of the 2008 hybrid dataframes
df1 = hybrid_08.copy() # first fuel type data of each hybrid vehicle
df2 = hybrid_08.copy() # second fuel type data of each hybrid vehicle

In [212]:
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [213]:
# columns to be splitted by '/'
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each colunmn 
for i in split_columns:
    df1[i] = df1[i].apply(lambda x: x.split('/')[0])
    df2[i] = df2[i].apply(lambda x: x.split('/')[1])

In [214]:
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [215]:
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [216]:
# Combine df1 and df2 
new_rows = df1.append(df2)
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [217]:
# drop the original hybrid rows
df_08.drop(hybrid_08.index, inplace=True)

# add in our new separated rows
df_08 = df_08.append(new_rows, ignore_index=True)

In [218]:
# Check that all the orginal hybrid rows with '/' are dropped
df_08[df_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [219]:
df_08.shape

(987, 13)

#### Repeat the process for dataset 2018

In [ ]:
df